@font-face {
    font-family: MyriadPro-Regular;
    src: url(fonts/MyriadPro-Regular.ttf);
}
body {
    font-family: MyriadPro-Regular;
    margin: 0;
}
.container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
p {
    margin: 0;
}
*  {
    box-sizing: border-box;
}
/* header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
/* nav */
.nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 40px;  
}
.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f1f1;
    margin: 20px 60px 20px 0;
}
.nav__link:last-child {
    margin-right: 0;
}
/* intro */
.intro {
    background: url(img/Background.jpg)
    center no-repeat;
    background-size: cover;
    height: 100vh;
}
.intro__inner {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}
.intro__text {
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    color: #f1f1f1;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
}
.intro__img {
    margin-bottom: 40px;
}
.nav__about {
    color: #bebebe;
}
/* about */
.about__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about__img {
    height: auto;
    width: 600px;
}
.about__content {
    padding-left: 30px;
}
.about__title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.about__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
}
.about__text p {
    margin-bottom: 30px;
}
.about__after {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
}
.about__scroling {
    text-align: center;
    margin-top: 70px;
}
/* media */
@media (max-width: 991px) {
    .about__item {
        flex-direction: column;
    }
    .about__content {
        text-align: center;
    }
    .about__img {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .about__item {
        flex-direction: column;
    }
    .about__content {
        text-align: left;;
    }
}
@media (max-width: 483px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }
    .nav__link:last-child {
        margin-right: 60px;
    }
    .intro {
        height: 400px;
    }
    .intro__inner {
        display: none;
    }
    .about__img {
        height: auto;
        width: auto;
    }
    .about__title {
        font-size: 30px;
    }
    .about__text {
        font-size: 18px;
    }
    .about__after {
        font-size: 18px;
        font-weight: 400;
    }
    .intro__img {
        display: none;
    }
    .nav__about {
        display: none;
    }
}


